
<div class="SkuDivision">

    @{
        int counter = 1;
        int step = 3;
        int totalCount = @ItemsNo.Count;
        int stepCount= 0;
        //@UsageCase== StoreSkuCollectionUsageCaseEnum.MainPageAppearamce
        // || @UsageCase== StoreSkuCollectionUsageCaseEnum.MainBarSearch
    }

    @if (true)
    {
        <div class="LeftAligned">
        
        <p>SearchText=@SearchText</p>
        <a  href=""  @onclick="@(e => DoLoggerAction())">DoLoggerAction</a>
        </div>
        
        <div class="goodsRowBegin skuUnitBase" />
        @foreach(var sku in @ItemsNo)
        {
            @if (stepCount==step)
            {
                <div class="goodsRowEnd skuUnitBase" /><div class="goodsRowBegin skuUnitBase" />
                stepCount = 0;
            }
        
            <div class="SkuCard skuUnitBase" id="@counter">

                <div class="SkuCard-image SkuCard-element">
                    <img class="SkuCardPic" src="@SkuManager.GetResourceFullAddress(@sku.FirstPic)" />
                </div>

                <div class="SkuCard-productName SkuCard-element">
                    <a href="@SkuManager.GetItemPageFullAddress(@sku.Id)">
                       @sku.FullName
                   </a>
                </div>

                <div class="SkuCard-productPrice SkuCard-element">
                    @sku.Price
                 </div>

            </div>

            counter++;

            stepCount++;

        }
    }


</div>