
@using T109.ActiveDive.FrontEnd.Blazor.Components
@using T109.ActiveDive.FrontEnd.Blazor.Components.ShopItemCollection

<div class="ShopItemCollection">

    @{
        int counter = 1;
        int step = 3;
        int totalCount = @ItemsNo.Count;
        int stepCount= 0;
        //@UsageCase== ShopItemCollectionUsageCaseEnum.MainPageAppearamce
        // || @UsageCase== ShopItemCollectionUsageCaseEnum.MainBarSearch
    }

    @if (@UsageCase == ShopItemCollectionUsageCaseEnum.MainPageAppearamce)
    {
        if (@Count == 0) { <span>No items here </span>}
    }
    else
    {
        if (@Count == 0)
        {
            <span>No items found </span>
        }
    }
        
        <div class="goodsRowBegin skuUnitBase" />
        @foreach(var sku in @ItemsNo)
        {
            @if (stepCount==step)
            {
                <div class="goodsRowEnd skuUnitBase" /><div class="goodsRowBegin skuUnitBase" />
                stepCount = 0;
            }
        
            <div class="SkuCard skuUnitBase" id="@counter">

                <div class="SkuCard-image SkuCard-element">
                    <img class="SkuCardPic" src="@sku.FirstPic" />
                </div>

                <div class="SkuCard-productName SkuCard-element">
                    <a href="@Manager.GetItemPageFullAddress(@sku.Id)">
                       @sku.Name
                   </a>
                </div>

                <div class="SkuCard-productPrice SkuCard-element">
                    
                 </div>

            </div>

            counter++;

            stepCount++;

        }


</div>