<div class="SearchBarLeftRight">
</div>

<div class="SearchBar">
    <a href=""><div id="ClickableShopLabel" class="SearchBarElement"></div></a>

    <div class="SearchInputBoxElementGroup SearchBarElement">
        <div class="SearchFieldAndCrossWrap SearchFieldBg">
            <div class="SearchFieldWrap SearchBarElement">
                <input class="SearchFieldBg" id="MainSearchField" placeholder="@DefaultSearchText" type="text" @onkeyup="@KeypressHandler" @onkeydown="@EnterHandler" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" maxlength="255" @bind-value=Value @bind-value:event="oninput" />
            </div>
            <div id="CloseCross" class="@SearchBarElementClass" @onclick="@(e => CloseCrossClicked())"></div>
        </div>

    </div>

    <div class="SearchButtonElementGroup SearchBarElement">
        <button id="MainSearchButton" class="" @onclick="@(e => SearchClicked())">Search</button>
    </div>
</div>
<div class="SearchBarLeftRight">
</div>
